:root {
  --color-baemin: #36c7cb;
  --color-secondary: #b5b5b5;
}

* {
  box-sizing: border-box;
}

html {
  display: flex;
  justify-content: center;
  background-color: white;
  font-size: 15px;
}

body {
  width: 500px;
  height: 100vh;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  margin: 0;
  background-color: gainsboro;
  border: 1px solid gray;
}

a {
  text-decoration: none;
  color: gray;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}
